$button-colors: (
  primary: rgb(248, 205, 212),
  primary-hover: rgb(233, 93, 116),
  success: rgb(154, 195, 252),
  success-hover: rgb(54, 137, 253),
  warning: rgb(252, 98, 98),
  warning-hover: rgb(251, 7, 7),
  todo: rgb(105, 193, 105),
  todo-hover:rgb(63, 195, 63),
);
