.custom-button, .button-primary, .button-warning, .button-todo {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }
  .custom-button:hover, .button-primary:hover, .button-warning:hover, .button-todo:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px); }
  .custom-button:active, .button-primary:active, .button-warning:active, .button-todo:active {
    transform: translateY(-1px); }

.button-primary {
  background-color: #f8cdd4; }
  .button-primary:hover {
    background-color: #e95d74; }

.button-warning {
  background-color: #fc6262; }
  .button-warning:hover {
    background-color: #fb0707; }

.button-todo {
  background-color: #69c169; }
  .button-todo:hover {
    background-color: #3fc33f; }

* {
  margin: 0;
  padding: 0; }

/* Roboto font */
body {
  background: white;
  font-family: "roboto"; }

header {
  grid-area: header; }

main {
  grid-area: main;
  display: flex;
  flex-direction: column; }

footer {
  grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 2fr 0.25fr;
  grid-gap: 1em;
  grid-template-areas: "header" "main" "footer";
  height: 100vh; }

.navbar {
  background-color: #f8cdd4; }

/* main styles */
.imageList {
  display: flex;
  justify-content: center;
  background-color: white; }

.imageList__item {
  max-width: 100%; }

.main__content {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  justify-content: center;
  background: white; }
  .main__content h1 {
    font-size: 50px;
    padding: 1.25rem;
    text-align: center; }

.title {
  padding: 2rem;
  text-align: center;
  justify-content: center;
  font-size: 2rem; }

h1 {
  padding: 1.25rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold; }

/* main styles end */
/* footer styles */
.footer {
  font-size: 150%; }
  .footer ul {
    display: flex;
    padding: 1.25rem;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    background: #111; }
    .footer ul li {
      list-style-type: none;
      margin: 0.25rem 0.75rem; }
      .footer ul li a {
        color: #fff;
        text-decoration: none; }
        .footer ul li a:hover {
          text-decoration: underline; }
  .footer .footer__content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    justify-content: center;
    background: #444;
    color: #fff; }
    .footer .footer__content h3 {
      padding: 1.25rem;
      text-align: center; }

/* footer styles end */
.header_short_message__content {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  justify-content: center;
  background: white; }
  .header_short_message__content h1 {
    font-size: 50px;
    padding: 1.25rem;
    text-align: center; }
